In [7]:
%matplotlib inline
import pandas as pd
import numpy as np
from pygeocoder import Geocoder

In [5]:
filepath = 'C:/Users/Felix/Documents/data/TalkingData Kaggle/events.csv'
events=pd.DataFrame.from_csv(filepath, index_col=None)
events.head()

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70
3         4 -6815121365017318426  2016-05-01 00:06:40     104.27     23.28
4         5 -5373797595892518570  2016-05-01 00:07:18     115.88     28.66

In [6]:
df = events
df['lat_long'] = df[['latitude', 'longitude']].apply(tuple, axis=1)
df.head()

,event_id,device_id,timestamp,longitude,latitude,lat_long
0,1,29182687948017175,2016-05-01 00:55:25,121.38,31.24,"(31.24, 121.38)"
1,2,-6401643145415154744,2016-05-01 00:54:12,103.65,30.97,"(30.97, 103.65)"
2,3,-4833982096941402721,2016-05-01 00:08:05,106.60,29.70,"(29.7, 106.6)"
3,4,-6815121365017318426,2016-05-01 00:06:40,104.27,23.28,"(23.28, 104.27)"
4,5,-5373797595892518570,2016-05-01 00:07:18,115.88,28.66,"(28.66, 115.88)"

In [8]:
coordinates = df['lat_long'].unique()
df2 = pd.DataFrame(coordinates)
df2.columns = ['lat_long']
df2["Coordinates_new"]=df2["lat_long"].apply(geolocator.reverse, timeout=10)